
}


#main {
    height: 95vh;
}

#searchForm {
    width: 100%;
    margin: 2rem;
}

#searchArea {
    padding: 2rem;
    width: 50%;
}


#searchBar:focus {
    outline: none;
}

#searchBar:hover {
    box-shadow: 0px 0px 5px 3px #C3C3C3
}

#error {
    color: red;
}

.historyItem {
    text-decoration: underline;
    cursor: pointer;
}

a{
    color: black;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer {
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    height: 5vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
}

ul {
    list-style: none;
}