body {
    background-color: #F2EEE4 !important;
}

#main {
    display: none;
}

#name{
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}
#username{
    margin-top: 0 !important;
    padding-top: 0 !important;
}

#mainContentArea {
    /* Changes display configuration to flex in JavaScript */
    display: none;
    justify-content: baseline;
}

#mainContentArea>* {
    margin: 0.5rem;
}

#chart {
    width: 50rem;
}

#profilePicture {
    border-radius: 50%;
}

#userArea {
    margin: 2rem;
}

#pullRequests>ul, #latestCommits>ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#pullRequests>ul>li{
    padding: 0.5rem;
    width: 80%;
    transition: all 0.2s;
}

#pullRequests>ul>li:hover{
    background-color: #dbdbdb;
    border-radius: 5px
}

#pullRequests>ul>li>p{
    margin:0 !important;
    padding:0 !important;
}

#latestCommits>ul>li{
    padding: 0.5rem;
    width: 80%;
    transition: all 0.2s;
}

#latestCommits>ul>li:hover{
    background-color: #dbdbdb;
    border-radius: 5px
}

#latestCommits>ul>li>p{
    margin:0 !important;
    padding:0 !important;
}