<nav class="navbar navbar-expand-lg navbar-light bg-light" style="z-index: 100;">
    <div class="container-fluid">
        <div class="col-lg-4 col-12 d-flex justify-content-between">
            <a class="navbar-brand fw-bold" href="/">Github Statistics</a>
            <button class="navbar-toggler d-inline d-lg-none" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse col-sm-4 justify-content-center" id="navbarContent">
            <ul class="navbar-nav justify-content-end flex-fill">
                <li class="nav-item my-auto" id="navItemsArea">
                    <li class="nav-item d-flex justify-content-end align-items-center w-100" id="authArea">
                    </li>
                </li>
            </ul>
        </div>
    </div>
</nav>